<div class="col-md-3 st-widget">
    <div class="st-widget-header">
        <ul class="list-inline">
            <li><h2>{{model.channelName}}</h2></li>
            <li class="pull-right">
                {{#if isAddMember}}
                    <button type="button" {{action 'default'}} class="btn btn-default btn-lg" style="background-color: rgba(255,255,255, 0); border: 0px; color: #fff;">
                      <span>cancel</span>
                    </button>
                {{else}}
                    <button type="button" {{action 'addMember'}} class="btn btn-default btn-lg" style="background-color: rgba(255,255,255, 0); border: 0px; color: #fff;">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                {{/if}}
            </li>
        </ul>
    </div>

    <div class="st-widget-body">
        {{#if isAddMember}}
            {{render "channel.add-member" model}}
        {{else}}
            {{render "channel.chats-default" model}}
        {{/if}}
    </div>

</div>
